@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";
/* styles.css */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Edge */
  scrollbar-width: none;  /* Firefox */
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 230px;
  height: 35px;
}
