<header></header>
<h3>Test 1</h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet cupiditate magni blanditiis esse corporis accusamus. Rerum, consequuntur saepe quo pariatur rem iste, beatae nostrum tempore accusamus soluta eum itaque.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis repellat laboriosam pariatur quod quis ipsa voluptas, quia fuga quibusdam sint, quas ut possimus, a aut sunt assumenda aspernatur explicabo aliquid.
<button onclick="navigateTo('test/test2')">My custom button</button>
<footer></footer>